[submodule "labstag"]
	path = labstag
	url = git@github.com:koromerzhin/labstag.git
[submodule "docker"]
	path = docker
	url = git@github.com:koromerzhin/docker.git
[submodule "ansible"]
	path = ansible
	url = git@github.com:koromerzhin/ansible.git
[submodule "userscripts"]
	path = userscripts
	url = git@github.com:koromerzhin/userscripts.git
[submodule "traefikproxy"]
	path = traefikproxy
	url = git@github.com:koromerzhin/traefikproxy.git
[submodule "portainer"]
	path = portainer
	url = git@github.com:koromerzhin/portainercontainer.git
[submodule "transmission"]
	path = transmission
	url = git@github.com:koromerzhin/transmissiontraefik.git
[submodule "repocheck"]
	path = repocheck
	url = git@github.com:koromerzhin/repocheck.git
[submodule "webcrawler"]
	path = webcrawler
	url = git@github.com:koromerzhin/webcrawler.git
[submodule "streamchat"]
	path = streamchat
	url = git@github.com:koromerzhin/streamchat.git
[submodule "kid-calendar"]
	path = kid-calendar
	url = git@github.com:koromerzhin/kid-calendar.git
